body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.calculator-app {
    width: 100%;
    max-width: 360px; /* Lebar ideal untuk kalkulator */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
}